{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <title>Capstone Project</title>
   </head>
   <body>
      <h1 style="text-align:center;">Welcome To LittleLemon Restaurant</h1>
      <!-- <script src="{% static 'js/script.js' %}"></script> -->
      <img src="{% static 'img/littlelemon.png' %}">
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <script>
         $(document).ready(function() {
         console.log("jQuery is loaded and working!");
         });
      </script>
   </body>
</html>